$primary-color: #415161;

.cover-section {
    height: 22em;
    text-align: center;
    .cover-left, .cover-right {
        width: 25%;
        display: inline-block;
        text-align: center;
        padding: 3em;
    }

    .cover-right {
        position: relative;
        top: -75px;

        h1, h2 {
            color: $primary-color;
            font-weight: 100;
        }

        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: 1.75em;
        }

    }
}
