$primary-color: #415161;

.cover-section {

    text-align: center;
    .cover-left, .cover-right {

        display: block;
        text-align: center;
        padding: 2em 0em 2em 0em;
    }

    .cover-right {

        h1, h2 {
            color: $primary-color;
            font-weight: 100;
        }

        h1 {
            font-size: 3em;
            margin-top: 0em;
        }
        h2 {
            font-size: 1.75em;
        }

    }
}
