$primary-color: #415161;

.cover-section {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    .cover-left, .cover-right {

        display: block;
        text-align: center;
        padding: 8em 0em 2em 0em;
    }

    .cover-right {
        display: block;
        text-align: center;
        padding: 0em 0em 2em 0em;
    }

    .cover-right {

        h1, h2 {
            color: $primary-color;
            font-weight: 500;
        }

        h1 {
            font-size: 2.5em;
            margin-top: 0em;
            margin-bottom: 0em;
            color: #1FA975;
        }
        h2 {
            font-size: 1.5em;
            margin-top: 0.5em;

            span {
              color: #1FA975;
            }
        }

        a {
            color: #586D82;

            &:hover {
                color: #415161;
            }
        }

        button {
            background: $primary-color;
            border: none;
            font-weight: 400;
            padding: 0.5em 1em;
            border-radius: 3px;
            margin-right: 0.75em;
            color: #fff;

            &:hover {
                background: lighten($primary-color, 5%);
                color: #fff;
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }

    }
}

@media only screen and (min-width: 700px) {
    .cover-section {
        .cover-left, .cover-right {

        }

        .cover-right {
            width: 35em;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .cover-section {
        .cover-left, .cover-right {
            display: inline-block;
        }

        .cover-right {
            padding-left: 4em;
            position: relative;
            top: -3.5em;
        }
    }
}
