$primary-color: #fff;
$background-color: #415161;

.footer-section {
    background: $background-color;
    padding: 1em 4em 2em 4em;

    .footer-container {
      padding: 0;
      margin: 0;
      list-style: none;

      .footer-item {
        padding: 5px;
        margin-top: 1em;
        color: white;
        font-weight: bold;
        text-align: center;

        h3, p {
            color: $primary-color;

        }

        h3 {
            font-weight: 400;
            font-size: 1em;
            margin-top: 0em;
            margin-bottom: 0em;
            text-align: left;
        }

        p {
            font-weight: 400;
            font-size: 0.9em;
            text-align: left;
        }
      }
    }
}
