$primary-color: #415161;

nav {
    text-align: left;
    border-bottom: 1px solid #efefef;
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 99999;

    .menu-bars {

        .fa-bars, .fa-times {
            color: $primary-color;
            margin: 0.5em;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .menu-show {
        display: block;
        overflow-x: hidden;
    }

    .menu-hide {
        display: none;
    }

    ul {
        padding-left: 0em;
        position: absolute;
        top: 48px;
        background: #fff;
        z-index: 9999;
        width: 100%;

        a {
            text-decoration: none;
            color: $primary-color;

        }

        li {
            list-style-type: none;
            padding: 0.75em;
            width: 100%;
            border-bottom: 1px solid #EFEFEF;

            &:first-child {
                border-top: 1px solid #efefef;
            }
        }
    }
}
