nav {
    text-align: center;
    border-bottom: 1px solid #efefef;
    ul {
        li {
            display: inline-block;
            list-style-type: none;
            border: 1px solid black;
            padding: 0.5em;
            border-radius: 3px;
            margin-left: 1em;
        }
    }
}
