$primary-color: #415161;
$secondary-color: #F7F7F7;

.projects-section {
    background: #F7F7F7;
    height: 100%;
    padding: 2em 2em 2em 2em;

    h2 {
        color: $primary-color;
        font-size: 1.75em;
    }

    .projects-title {
        font-weight: 400;
        font-size: 1.75em;
        margin-top: 0em;
        margin-bottom: 0em;
        text-align: left;
        color: $primary-color;
    }

    .projects-container {
      padding: 0;
      margin: 0;
      list-style: none;

      .projects-item {
        display: block;
        padding-top: 2em;
        padding-bottom: 4em;
        color: white;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid #415161;

        .projects-item-image {
            display: inline-block;
            width: 100%;
            text-align: center;

            img {
                width: 100%;
                display: inline-block;
            }
        }

        .projects-item-content {
            display: inline-block;
            width: 100%;
            padding-top: 1em;

            h3, p {
                color: $primary-color;
                text-align: center;
            }

            h3 {
                font-weight: 400;
                font-size: 1.75em;
                margin-top: 0.5em;
                margin-bottom: 0em;
            }

            p {
                font-weight: 400;
                font-size: 1.2em;
                width: 100%;
                margin: 0.5em auto 1em auto;
            }

            button {
                background: $primary-color;
                border: none;
                font-weight: 400;
                padding: 0.5em 1em;
                border-radius: 3px;
                margin-right: 0.75em;
                color: #fff;

                &:hover {
                    background: lighten($primary-color, 5%);
                    color: #fff;
                    cursor: pointer;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        &:nth-child(2) {
            padding-bottom: 4em;
        }

        &:nth-child(3) {
            padding-top: 4em;
            border-bottom: none;
        }
      }
    }
}

@media only screen and (min-width: 570px) {
    .projects-section {
        .projects-container {
            .projects-item {
                img {
                    max-width: 400px;
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .projects-section {
        .projects-container {
            .projects-item {
                .projects-item-content, .projects-item-image {
                    width: 50%;
                }

                .item-content-gomocha {
                    position: relative;
                    top: -1em;
                }

                .item-content-bird-strike {
                    position: relative;
                    top: -7em;
                }

                .item-content-todo-list {
                    position: relative;
                    top: -10em;
                }
            }
        }
    }
}
