$primary-color: #415161;
$secondary-color: #F7F7F7;

.projects-wrap {
    background: #F7F7F7;
    width: 100%;
}

.projects-section {
    background: #F7F7F7;
    height: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;

    h2 {
        color: $primary-color;
        font-size: 1.75em;
    }

    .projects-title {
        font-weight: 400;
        font-size: 1.75em;
        margin-top: 0em;
        margin-bottom: 0em;
        text-align: left;
        color: $primary-color;
    }

    .projects-container {
      padding: 0;
      margin: 0;
      list-style: none;

      .projects-item {
        display: block;
        padding-top: 2em;
        padding-bottom: 8em;
        color: white;
        font-weight: bold;
        text-align: left;

        .projects-item-image {
            display: inline-block;
            width: 100%;
            text-align: center;

            img {
                width: 100%;
                display: inline-block;
                border-radius: 15px;
                box-shadow: 0 0 7px #9ea3a7;
            }
        }

        .projects-item-content {
            display: inline-block;
            width: 100%;
            padding-top: 1em;

            h3, p {
                color: $primary-color;
                text-align: left;
            }

            span {
                text-transform: uppercase;
                font-size: 0.9em;
                font-weight: 700;
            }

            h3 {
                font-weight: 400;
                font-size: 2em;
                margin-top: 0.5em;
                margin-bottom: 0em;
                color: #1FA975;
            }

            p {
                font-weight: 400;
                font-size: 1.2em;
                width: 100%;
                margin: 0.5em auto 1em auto;
                color: #626262;
            }

            button {
                background: $primary-color;
                border: none;
                font-weight: 400;
                padding: 0.5em 1em;
                border-radius: 3px;
                margin-right: 0.75em;
                color: #fff;

                &:hover {
                    background: lighten($primary-color, 5%);
                    color: #fff;
                    cursor: pointer;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        &:nth-child(2) {
            padding-bottom: 4em;
        }

        &:nth-child(3) {
            padding-top: 4em;
        }

        &:nth-child(4) {
            padding-top: 4em;
            border-bottom: none;
        }
      }
    }
}

@media only screen and (min-width: 570px) {
    .projects-section {
        .projects-container {
            .projects-item {

                img {
                    max-width: 400px;
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .projects-section {
        .projects-container {
            .projects-item {
                .projects-item-content, .projects-item-image {
                    width: 50%;
                }

                .projects-item-image {
                    text-align: left;
                }

                .item-content-gomocha {
                    position: relative;
                    top: 1em;
                }

                .item-content-gomocha-ba {
                    position: relative;
                    top: 0em;
                }

                .item-content-bird-strike {
                    position: relative;
                    top: -4em;
                }

                .item-content-todo-list {
                    position: relative;
                    top: -1em;
                }
            }
        }
    }
}
