$primary-color: #415161;
$secondary-color: #F7F7F7;

.projects-section {
    background: #F7F7F7;
    height: 100%;
    padding: 2em 4em 4em 4em;

    h2 {
        color: $primary-color;
        font-size: 1.75em;
    }

    .projects-title {
        font-weight: 400;
        font-size: 1.75em;
        margin-top: 0em;
        margin-bottom: 0em;
        text-align: left;
        color: $primary-color;
    }

    .projects-container {
      padding: 0;
      margin: 0;
      list-style: none;

      .projects-item {
        display: block;
        padding-top: 4em;
        padding-bottom: 4em;
        color: white;
        font-weight: bold;
        text-align: center;

        &:nth-child(2), &:nth-child(3) {
            border-top: 1px solid #BCBCBC;
        }

        .projects-item-image {
            display: inline-block;
            width: 35%;

            img {
                width: 100%;
                display: inline-block;
            }
        }

        .projects-item-content {
            display: inline-block;
            width: 64%;

            h3, p {
                color: $primary-color;
            }

            h3 {
                font-weight: 400;
                font-size: 1.75em;
                margin-top: 0.5em;
                margin-bottom: 0em;
            }

            p {
                font-weight: 100;
                font-size: 1.2em;
                width: 100%;
                margin: 0.5em auto 1em auto;
            }

            button {
                background: $primary-color;
                border: none;
                font-weight: 100;
                padding: 0.5em 1em;
                border-radius: 3px;
                margin-right: 0.75em;
                color: #fff;

                &:hover {
                    background: lighten($primary-color, 5%);
                    color: #fff;
                    cursor: pointer;
                }

                &:focus {
                    outline: none;
                }
            }
        }

      }
    }
}

@media only screen and (min-width: 570px) {
    .projects-section {
        .projects-container {
            .projects-item {
                img {
                    max-width: 400px;
                }
            }
        }
    }
}
