$primary-color: #415161;
$background-color: #F7F7F7;

.contact-section {
    background: $background-color;
    height: 100%;
    padding: 2em 4em 4em 4em;

    h3 {
        font-weight: 400;
        font-size: 1.75em;
        margin-top: 0em;
        margin-bottom: 0em;
        text-align: left;
        color: $primary-color;
    }

    .contact-container {
      padding: 0;
      margin: 0;
      list-style: none;

      .contact-item {
        padding: 5px;
        margin-top: 1em;
        color: white;
        font-weight: bold;
        text-align: left;

        &:nth-child(2) {
            margin-top: 2em;
        }

        &:nth-child(3) {
            display: inline-block;
            margin-top: 3em;
            margin-right: 1em;
            position: relative;
            left: 4px;
        }

        &:nth-child(4) {
            display: inline-block;
            position: relative;
            left: 10px;
        }

        .fa-mobile, .fa-envelope-o {
            color: $primary-color;
            display: inline-block;

            &:hover {
                color: lighten($primary-color, 5%);
            }
        }

        .fa-mobile {
            position: relative;
            left: 7px;
        }

        .fa-linkedin-square, .fa-github {
            display: inline-block;
            color: $primary-color;

            &:hover {
                color: lighten($primary-color, 5%);
            }
        }

        .contact-phone {
            display: inline-block;
            position: relative;
            top: -20px;
            left: 35px;
        }

        .contact-email {
            display: inline-block;
            position: relative;
            top: -10px;
            left: 20px;
        }

        a {
            color: lighten($primary-color, 10%);
            font-weight: 400;
            font-size: 1.5em;
            margin-top: 0em;
            margin-bottom: 0em;
            text-align: left;
            text-decoration: none;

            &:hover {
                color: $primary-color;
            }
        }

        p {
            font-weight: 100;
            font-size: 1.2em;
            width: 70%;
            text-align: left;
        }

      }
    }
}
