$primary-color: #415161;
$background-color: #F7F7F7;
$border-color: #BCBCBC;

.contact-section {
    background: $background-color;
    height: 100%;
    padding: 2em 2em 4em 2em;

    h3 {
        font-weight: 400;
        font-size: 1.75em;
        margin-top: 0em;
        margin-bottom: 0em;
        text-align: left;
        color: $primary-color;
    }

    .contact-container {
      padding: 0;
      margin: 0 auto;
      list-style: none;
      text-align: center;

      p {
          font-weight: 400;
          font-size: 2em;
          color: $primary-color;
          margin-bottom: 1em;
      }

      .contact-item {
        padding: 5px;
        margin-top: 1em;
        color: $background-color;
        font-weight: bold;
        text-align: center;

        a {
            color: #1FA975;
            font-weight: 400;
            font-size: 1.5em;
            margin-top: 1em;
            margin-bottom: 0em;
            text-decoration: none;

            &:hover {
                color: darken(#1FA975, 5%);
                text-decoration: underline;
            }
        }
      }

      .icons-container {
          .contact-icons {
              display: inline-block;
              padding: 0.2em;
              margin-top: 2em;

              .fa-linkedin-square, .fa-github, .fa-facebook-official, .fa-behance, .fa-medium {
                  display: inline-block;
                  color: $primary-color;

                  &:hover {
                      color: #1FA975;
                  }
              }
          }
      }
    }
}

@media only screen and (min-width: 348px) {
    .contact-section {
        .contact-container {
            .icons-container {
                .contact-icons {
                    padding: 0.4em;
                }
            }
        }
    }
}

@media only screen and (min-width: 421px) {
    .contact-section {
        .contact-container {
            .icons-container {
                .contact-icons {
                    padding: 1em;
                }
            }
        }
    }
}
