$primary-color: #415161;
$background-color: #F7F7F7;

.contact-section {
    background: $background-color;
    height: 100%;
    padding: 2em 4em 4em 4em;

    h2 {
        color: $primary-color;
        font-size: 1.75em;
    }

    .contact-container {
      padding: 0;
      margin: 0;
      list-style: none;

      .contact-item {
        padding: 5px;
        margin-top: 1em;
        color: white;
        font-weight: bold;
        text-align: center;

        &:nth-child(2) {
            margin-top: 3em;
        }

        .fa-mobile, .fa-envelope-o {
            color: $primary-color;
            display: block;
        }

        a {
            color: lighten($primary-color, 10%);
            font-weight: 400;
            font-size: 1.75em;
            margin-top: 0em;
            margin-bottom: 0em;
            text-align: left;
            text-decoration: none;

            &:hover {
                color: $primary-color;
            }
        }

        p {
            font-weight: 100;
            font-size: 1.2em;
            width: 70%;
            text-align: left;
        }

      }
    }
}
