$primary-color: #415161;
$background-color: #fff;
$border-color: #BCBCBC;

.contact-section {
    background: $background-color;
    height: 100%;
    padding: 2em 4em 4em 4em;

    h3 {
        font-weight: 400;
        font-size: 1.75em;
        margin-top: 0em;
        margin-bottom: 0em;
        text-align: left;
        color: $primary-color;
    }

    .contact-container {
      padding: 0;
      margin: 0 auto;
      list-style: none;
      text-align: center;

      p {
          font-weight: 100;
          font-size: 2em;
          color: $primary-color;
          margin-bottom: 0.75em;
      }

      .vertical-divider {
          height: 2em;
          border-left: 1px solid $border-color;
          width: 0em;
          margin: 0 auto;
      }

      .contact-item {
        padding: 5px;
        margin-top: 1em;
        color: $background-color;
        font-weight: bold;
        text-align: center;

        a {
            color: lighten($primary-color, 10%);
            font-weight: 100;
            font-size: 1.5em;
            margin-top: 1em;
            margin-bottom: 0em;
            text-decoration: none;

            &:hover {
                color: $primary-color;
                text-decoration: underline;
            }
        }
      }

      .icons-container {
          .contact-icons {
              display: inline-block;
              padding: 0.2em;
              margin-top: 2em;

              .fa-linkedin-square, .fa-github, .fa-facebook-official, .fa-behance {
                  display: inline-block;
                  color: $primary-color;

                  &:hover {
                      color: lighten($primary-color, 5%);
                  }
              }
          }
      }
    }
}

@media only screen and (min-width: 348px) {
    .contact-section {
        .contact-container {
            .icons-container {
                .contact-icons {
                    padding: 0.4em;
                }
            }
        }
    }
}

@media only screen and (min-width: 421px) {
    .contact-section {
        .contact-container {
            .icons-container {
                .contact-icons {
                    padding: 1em;
                }
            }
        }
    }
}
