$primary-color: #415161;
$background-color: #fff;
$highlight-color: #1FA975;

.about-site-wrap {
    width: 100%;
    background: $background-color;
}

.about-site-section {
    background: $background-color;
    height: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 2em 2em 2em 2em;

    h3 {
        font-weight: 400;
        font-size: 1.75em;
        margin-top: 0em;
        margin-bottom: 0em;
        text-align: left;
        color: $primary-color;
    }

    .about-site-container {
      padding: 0;
      margin: 0;
      list-style: none;
      width: 100%;
    //   max-width: 65%;
    //   display: inline-block;
    //   top: -2em;
    //   position: relative;


      .about-site-item {
        padding: 5px;
        margin-top: 1em;
        color: $background-color;
        font-weight: bold;
        text-align: center;

        h3 {
            color: $primary-color;
            font-weight: 400;
            font-size: 1.2em;
            margin-top: 0em;
            margin-bottom: 0em;
            text-align: left;
            line-height: 1.5em;

            .about-site-highlight {
                color: $highlight-color;
            }
        }

        p {
            font-weight: 400;
            font-size: 1.2em;
            width: 70%;
            text-align: left;
        }

      }
    }

    .about-site-image-container {
        text-align: center;
            img {
                    width: 150px;
                    margin-top: 1.5em;
            }
    }
}

@media only screen and (min-width: 850px) {
    .about-site-section {

        .about-site-container {
          max-width: 65%;
          display: inline-block;
          top: -2em;
          position: relative;
      }

      .about-site-image-container {
          display: inline-block;
          width: 35%;

          img {
              margin-top: 0;
          }
        }
    }
}
