$primary-color: #415161;

.about-site-section {
    background: #fff;
    height: 100%;
    padding: 2em 4em 4em 4em;

    h3 {
        font-weight: 400;
        font-size: 1.75em;
        margin-top: 0em;
        margin-bottom: 0em;
        text-align: left;
        color: $primary-color;
    }

    .about-site-container {
      padding: 0;
      margin: 0;
      list-style: none;

      .about-site-item {
        padding: 5px;
        margin-top: 1em;
        color: white;
        font-weight: bold;
        text-align: center;

        h3 {
            color: $primary-color;
            font-weight: 400;
            font-size: 1.5em;
            margin-top: 0em;
            margin-bottom: 0em;
            text-align: left;

            .about-site-highlight {
                color: #1FA975;
            }
        }

        p {
            font-weight: 100;
            font-size: 1.2em;
            width: 70%;
            text-align: left;
        }

      }
    }
}
