$primary-color: #415161;
$background-color: #fff;
$link-color: #586D82;
$link-hover-color: #415161;

.about-me-wrap {
    width: 100%;
    background: $background-color;

}

.about-me-section {
    background: $background-color;
    height: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 2em 4em 2em;

    .about-me-container {
      padding: 0;
      margin: 0;
      list-style: none;

      .about-me-item {
        padding: 5px;
        margin-top: 1em;
        color: $primary-color;
        font-weight: bold;
        text-align: center;

        h3, p {
            color: $primary-color;

        }

        h3 {
            font-weight: 400;
            font-size: 1.75em;
            margin-top: 0em;
            margin-bottom: 0em;
            text-align: left;
        }

        h4 {
            font-weight: 400;
            font-size: 1.4em;
            margin-top: 0em;
            margin-bottom: 0em;
            text-align: left;
        }

        p {
            font-weight: 400;
            font-size: 1.2em;
            text-align: left;
            color: #626262;
            margin-top: 0.5em;
        }

        img {
            max-width: 100%;
            float: none;
            padding: 1em 0em 1em 1em;
        }

        a {
            color: #1FA975;

            &:hover {
                color: lighten(#1FA975, 7%);
            }
        }

        &:nth-child(2) {
            text-align: center;
            position: relative;
            padding-left: 2em;
        }

      }
    }
}

@media only screen and (min-width: 570px) {
    .about-me-section {
        .about-me-container {
            .about-me-item {
                img {
                    max-width: 370px;
                }
            }
        }
    }
}

@media only screen and (min-width: 720px) {
    .about-me-section {
        .about-me-container {
            .about-me-item {
                img {
                    float: right;
                }
            }
        }
    }
}

@media only screen and (min-width: 960px) {
    .about-me-section {
        .about-me-container {
            .about-me-item {
                display: inline-block;
                width: 75%;

                &:nth-child(2) {
                    position: relative;
                    top: -3em;
                }
            }
        }
    }
}
