$primary-color: #415161;

.about-me-section {
    background: #fff;
    height: 100%;
    padding: 2em 4em 4em 4em;

    .about-me-container {
      padding: 0;
      margin: 0;
      list-style: none;

      .about-me-item {
        padding: 5px;
        margin-top: 1em;
        color: $primary-color;
        font-weight: bold;
        text-align: center;

        h3, p {
            color: $primary-color;

        }

        h3 {
            font-weight: 400;
            font-size: 1.75em;
            margin-top: 0em;
            margin-bottom: 0em;
            text-align: left;
        }

        p {
            font-weight: 100;
            font-size: 1.2em;
            text-align: left;
        }

        img {
            max-width: 430px;
        }

        &:nth-child(2) {
            text-align: center;
        }

      }
    }
}

@media only screen and (min-width: 768px) {
    .about-me-section {
        .about-me-container {
            .about-me-item {
                img {
                    width: 100%;
                }
            }
        }
    }
}
